/* Style for the slideshow container */
.slideshow.container {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto;
  text-align: center;
}

/* Style for the slideshow */
.slideshow {
  position: relative;
  overflow: hidden;
}

/* Style for individual slides */
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slide img {
  width: 100%;
}

/* Style for navigation buttons */
.prevButton, .nextButton {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  border-style: none;
  background: transparent;
}

/* Position the "next button" to the right */
.prevButton {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.nextButton {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevButton:hover, .nextButton:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #d33232;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}